:root {
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
  color: #282222; /* Default text color */
  background-color:#a9c489; /* Default background */
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: #007bff; /* Customize link color */
  text-decoration: none;
}
a:hover {
  font-weight: bold; /* Customize hover */
}

h1 {
  font-size: 2.5em; /* Customize heading size */
}
